@font-face {
  font-family: 'handwritting';
  src: url('fonts/journal-webfont.woff') format('woff'),
    url('fonts/journal-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'typewriter';
  src: url('fonts/veteran_typewriter-webfont.woff') format('woff'),
    url('fonts/veteran_typewriter-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 1.3rem sans-serif;
  padding: 0.5em;
  margin: 0;
  background: #222;
}

form {
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background: #FFF url(background.jpg);

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 1em 1em 1em;
}